<footer class="footer">
    <div class="container">
        <p>
            &copy; 2020 <a href="">blog.allstackcoding.com</a> &nbsp; 
            <a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow">粤ICP备20000762号</a> 
        </p>
    </div>
    <div id="gotop">
        <a class="gotop"></a>
    </div>
</footer>